.player_ctrl_volume_affichage{
    margin-left: 110px;
}
.player_ctrl_volume_div{
    margin-left: 150px;
    margin-top: -20px;
}
.player_ctrl{
    width: 300px;
    border : lightblue solid 1px;
    background-color: lightblue;
}
.player_ctrl>audio{
    display: none;

}
input[type="range"].player_ctrl_volume{
    width: 100px;
    margin-bottom: -20px;
}

ul.playlist{
    width: 300px;

}
