#stat_plot,#stat_plot_activity_per_hours{
    width: 800px;
    height: 400px;
    margin: 0 auto;
}
.stat_ring{
    margin: 0 auto;
    width: 600px;
    height: 400px;
    margin-bottom: -100px;
}
.graph-legend{
    font-size: 10px;
}