#modalOverlay {
    width:100%;
    height:100%;
    z-index:2; /* places the modal overlay between the main page and the modal dialog*/
    background-color:black;
    opacity:0.5;
    position:fixed;
    top:0;
    left:0;
    display:none;
    margin:0;
    padding:0;
}

#modal {
    width:75%;
    margin-left:auto;
    margin-right:auto;
    padding: 5px;
    border: thin black solid;
    background-color:white;
    color: black;
    z-index:3; /* places the modal dialog on top of everything else */
    position:fixed;
    top:20px;
    bottom:20px;
    left:15%;
    display:none;
}
#modal h1 {
    text-align:center;
}
#modal .row{
    padding-left: 15px;
}

.modalCloseButton {
    float:right;
    position:absolute;
    top:-10px;
    right: -10px;
    height:25px;
    border-radius: 100%;
    padding: 0px 4px 4px 5px;
}
.modalCloseButton img {
    border:0;
}

.screen-reader-offscreen {
    position:absolute;
    left:-999px;
    width:1px;
    height:1px;
    top:auto;
}
