html, body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    overflow: visible;
    height: auto;
}
.reveal,.slides{
    position: static;
    display: compact;
    margin: 0 auto;
    z-index: -1000;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 26px;
}
.reveal .controls, .reveal .slides{
    position: relative;
}
.reveal .slides > section{
    padding: 0;
}
.reveal .backgrounds{
    display: none;
    width: 0px;
}
.reveal .slide-number, .reveal .speaker-notes {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;    
}