#monaco_editor{
    width: 100%;
    height: 90vh;
    border: 1px solid lightgray;
}
#monaco_files{
    width: 100%;
    overflow: auto;
    white-space: nowrap;
}
#monaco_files ul ul {
    margin-left: 10px;
}
.monaco_files_contextmenu{
    position: fixed;
    background-color: white;
    border: gray solid 1px;
}